.panels-flexible-6 .panels-flexible-region {
  padding: 0;
}

.panels-flexible-6 .panels-flexible-region-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-6 .panels-flexible-region-inside-first {
  padding-left: 0;
}

.panels-flexible-6 .panels-flexible-region-inside-last {
  padding-right: 0;
}

.panels-flexible-6 .panels-flexible-column {
  padding: 0;
}

.panels-flexible-6 .panels-flexible-column-inside {
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.panels-flexible-6 .panels-flexible-column-inside-first {
  padding-left: 0;
}

.panels-flexible-6 .panels-flexible-column-inside-last {
  padding-right: 0;
}

.panels-flexible-6 .panels-flexible-row {
  padding: 0 0 0.5em 0;
  margin: 0;
}

.panels-flexible-6 .panels-flexible-row-last {
  padding-bottom: 0;
}

.panels-flexible-column-6-main {
  float: left;
  width: 99.0000%;
}

.panels-flexible-6-inside {
  padding-right: 0px;
}

.panels-flexible-6 {
  width: auto;
}

.panels-flexible-region-6-center {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-main-row-inside {
  padding-right: 0px;
}

.panels-flexible-column-6-2 {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-1-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-gallery_item1_ {
  float: left;
  width: 23.6909%;
}

.panels-flexible-region-6-gallery_item1 {
  float: left;
  width: 50.6369%;
}

.panels-flexible-region-6-gallery_item2 {
  float: left;
  width: 24.6722%;
}

.panels-flexible-row-6-3-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-gallery_text {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-4-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-signup {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-5-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-multistream_player1 {
  float: left;
  width: 49.5000%;
}

.panels-flexible-region-6-multistream_player {
  float: left;
  width: 49.5000%;
}

.panels-flexible-row-6-6-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-teamdata {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-7-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-streamriot {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-8-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-gray_blue {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-9-inside {
  padding-right: 0px;
}

.panels-flexible-region-6-advertizement_on_home {
  float: left;
  width: 99.0000%;
}

.panels-flexible-row-6-10-inside {
  padding-right: 0px;
}

