#multistream-manage {
  position: relative;
  min-height: 300px;
}
#manage-open {
  cursor: pointer;
}
#manage-selection {
  display: none;
  position: absolute;
  top: 2em;
  z-index: 1000;
  height: 300px;
  overflow-y: auto;
}
#manage-selection article:hover {
  background: #efefef;
  cursor: pointer;
}
#manage-form #field-streams-values input,
#manage-form #field-streams-values select, 
#manage-form div[id*="field-streams-add-more-wrapper"]  { display: none!important; }

.panel-actions-wrapper {
  position: absolute;
  z-index: 999;
  width: 100%;
  right: 0;
}
.panel-actions-popup {
  position: absolute;
  background: white;
  z-index: 1000;
  width: 100%;
  margin: 0;
}
.panel-actions-popup li {
  display: none;
  list-style: none;  
}

.panel-overlay {
  height: 100%;
  width: 100%;
  background-color: white;
  opacity: .5;
  position: absolute;
  z-index: 100;
  pointer-events: auto;
}

.panel-actions-popup .open {
  max-height: 400px;
  overflow-y: auto;
}
.multistream-owner #mini-panel-player_menu ul.panel-actions li.fav {
  display: none;
}

body:not(.anon) .panel-actions .save {
  display: none!important;
}
body:not(.anon) .multistream-owner .panel-actions .save,
body:not(.anon) .chained .panel-actions .save {
  display: inline!important;
}

body:not(.anon) .multistream-owner .panel-actions .fav,
body:not(.anon) .chained .panel-actions .fav {
  display: none!important; 
}

label[for*="edit-add-stream"] { display: block; }

div[id*="edit-field-streams"] .flag-stream-favs { display: none; }

#mini-panel-player_menu,
#mini-panel-social_menu {
  width: 25%;
}

#riot-player-wrapper {
  float: left;
  height: 100%;
  width: 50%;  
  overflow: visible;
  position:relative;
}

#riot-player {
  width:100%;
  height: 100%;  
  overflow:visible;
  position: absolute;
  top:0;
  left: 0;
}