/* Global style */
*, *:before, *:after{
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
}
/* 1.) Header css start here */

/* Sprite image css */

.other{
  background-image: url(http://corephp.demosparx.in/CSS3692/sites/all/themes/parrot/img/sprite.png); background-repeat: no-repeat;
}


/* Home page css start here */
.container{@include container;}

li{list-style-type: none;}
#header-wrapper{background-color: #079dd9;padding:  9px 0px;position: relative;}
.siteinfo{float:left;}
.header-region{float: right;width: 70%;}
.header-region .contextual-links-region{position:static;}
#block-system-main-menu{float: left; margin-top: 14px;margin-left: 23px;}
#block-block-1{float: right;width: 320px;}
#block-system-main-menu li{float: left;}
.login-link li{float: left;list-style-type: none; margin: 0 10px;}
#block-system-main-menu a{text-transform: uppercase;font-weight: 700;color: #072543;}
#block-system-main-menu a:hover{color: #ffffff;text-decoration: none;}
#block-system-main-menu li{ margin: 0 15px;}
.login-link li{cursor: pointer;font-size: 14px;line-height: 12px; color: #ffffff;}
.login-link li.active{font-weight: 700;}
.login-link ul{float: left;margin-top: 17px;margin-left: 0;}
.login-link ul li{margin: 0; padding: 0px 15px;border-left: 1px solid #ffffff;text-transform: uppercase;}
.login-link ul li:first-child{border-left: none;}
.other{float: right;cursor: pointer;margin-bottom: 0;background-position: 0 0; height: 25px; width: 29px;margin-top: 10px;
text-indent: -999999px;}




// after login 
.user-image{float:left;width:275px;
img{float:left;}
.user-name{float:left;padding:0 10px; width:220px;}
}





// header register popup css start here
.login-block{position: absolute;right: 0;top: 65px;width: 100%;background-color: #e7e7e7; z-index:10;

}
.rblock,.lblock{
  padding: 28px 0 22px;
  overflow:hidden;
}  
.embed{
  float:left;
  width:303px;
  text-align: center;
  .free-embed{
    &:hover,&:focus{
    background-color  : $Active-bagColor;
    text-decoration: none;
    }
    font-size:14px;
    padding:12px 32px;
    display:inline-block;
    background-color: $inActive-bagColor;
    color: $white;
    margin-bottom: 20px;
    
  }
  .amezing{
    font-size: $baseFontSize;
  }
  .stream{
    color: #1198d8;
  }
}
.social-head{
  float:left;
  width:400px;
  margin-left:57px;
  ul{
    overflow:hidden;
    margin-left:0;
    li{
    float:left;
    margin-left:17px;
    a{
      height:60px; 
      width:60px;
      float:left;
      text-indent: -99999px;
    }
        .icon-twitter{
          background-position: 0 -34px;
        }
        .icon-facebook{
          background-position: 0 -99px;
        }
        .icon-other{
          background-position: 0 -162px;
        }
        .icon-pin{
          background-position: 0 -225px;
        }
        .icon-email{
          background-position: 0 -288px;
        }
  }
  }
  .social-connect{
    text-align:center;
    margin-top:21px;
    p{
      display:inline-block;
      margin-bottom:0;
      font-size:$baseFontSize;
    }
    ul{
      display:inline-block;
      margin-bottom:0;
      vertical-align: middle;
      li{
        color: #08a2d4;
        padding:0 5px;
        border-left: 1px solid #82858c;
        line-height:11px;
        margin-left:0;
        a{
          font-weight:700;
          height: auto; 
      width:auto;
      float:left;
      text-indent: initial;
        }
        
      }
      li:first-child{
        border-left: none;
      }
    }
  }
}
.login-blocks{
  float:right;
  width:710px;
}
.login-blocks small,.login-blocks .required,.login-blocks ul{
  display:none;
}





.form-required{display:inline-block;}
.login-blocks{
.form-required{
  #edit-name,#edit-pass,#edit-name--2,#edit-mail{
    width:175px;
    margin-left:0;
    margin-right:8px;
    height:44px;
  }
  .log-email{margin-right:10px;}
}
#edit-account{float:left;}
#edit-actions,#edit-actions--2{display:inline-block;margin:0;
#edit-submit,#edit-submit--2{
  text-indent: -9999px;
  padding:0 0 0 0;
  height:44px;
  width:44px;
  background-image:url(../img/rightterm.png);
  background-repeat: no-repeat;background-position: 8px 9px;
}
}
  .oneall_social_login{
 float:left;
 width:232px;
 margin:0 0 0 0 !important; 
 div{
   display:none !important;
 }
}
}

.user-image{float:none;}

// header register popup css start here










/* Home page css end here */
/* Footer page css start here */
#footer-wrapper{
  background-color: #ffffff;
  padding-top:36px;
    footer{
      .container {
        max-width: 1146px; margin: 0 auto;
            .footer-nav{
              float:left;
              width:658px;
              border-right: 2px solid $footer-border-color;
              min-height:193px;
              #block-block-3{
                float:left;
              }
              nav{
                  float: left;width: 200px;
                    h2{
                          font-size: 14px;
                          line-height: 11px;
                          text-transform: uppercase;
                          color: #079dd9; 
                          font-weight: 700;
                          margin:0 0 27px 0;
                        }
                    ul{
                       margin-left: 0;
                         a{
                           font-size: $baseFontSize; 
                           line-height:100%; 
                           color: $globalColor;
                           margin-bottom:15px;
                           display:inline-block;
                           span{
                             font-weight: 300;
                             text-transform: uppercase;
                           }
                           }
                          }
                   }
                 }
            .footer-contact{
                   float:right;
                   width:422px;
                   margin-left: 66px;
                   margin-bottom: 25px;
                   .contact-title{
                           font-size: $h3-font-size;
                            color: $globalColor;
                            font-weight: 300;
                            line-hright:90%;
                            text-transform: uppercase;
                            margin-bottom: 17px;
                       }
                    #contact-site-form{
                      #edit-submit--3{
                                  float:right;
                                     }
                      .form-required {
                                      display:inline-block;
                                           input{
                                                 margin-left: 0;
                                                }
                                            input[type="text"]{
                                              margin-right: 0;max-width:204px; width:100%;}
                                             }
                                      .form-required:first-child{margin-right:10px;}
                      
                      
                      
                    }   
              }
         }
         .outer-container{
           background-color: #e6e6e6;
           min-height:108px;
            padding-top:20px;
              #block-block-2{
                          float:left;   
                          p{
                            font-size: $baseFontSize;
                          }  
        }
        #block-menu-menu-footermenu{
          float:right;
          li{
            float:left;
            a{
              font-size:12px;
              color:$globalColor;
              margin:0 10px;
            }
            a.active{
              color:#079dd9;
              font-weight: 700;
            }
          }
          li:before{
            @include sprite;
           background-position: 0 -26px;
           content: " ";
    display: inline-block;
    height: 4px;
    left: 0;
    position: relative;
    top: -2px;
    width: 3px;
          }
          li:first-child:before{
             background:none;
            position: static;
          }
          li:last-child{
            a{
              margin-right:0;
            }
            }
      
        }
            
            
            
            
         }
 }
}
.grippie{display:none;}
// Footer css end here















/* Footer page css end here */




// body{
  // background: url(../img/2.jpg) center top no-repeat;
// }



